<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Friends List - Jelly Jump</title>
    <link rel="stylesheet" href="/style/globalstyle.css">
    <link rel="stylesheet" href="/style/friends.css">
</head>
<body>
    <%- include('../partials/navbar') %>

    <div class="friends-wrapper">
        <h1>👾 Friends</h1>

        <% if (error){ %>
            <p class="error-msg"><%= error %></p>
        <% } %>
        <br><br>

        <!-- search friend AND THEN ADD FRIEND -->
        <form action="friendslist" method="get" class="add-friend-form">
            <label for="friendName">Name of Friend:</label>
            <input type="text" id="friendName" name="search" placeholder="Search username..." value="<%= typeof search !== "undefined" ? search : '' %>">
            <br><br>
            
            <button type="submit">Find</button>
        </form>

        <% if (typeof result !== "undefined") { result.forEach(r => { %>
            <form action="friendslist" method="post" style="max-width: 400px; align-items: center; margin: 0 auto">
                <div class="friend-card">
                    <p class="friend-name"><%= r.username %></p>                   
                    <a class="btn" href="/profile/view/<%= r._id %>"> View Profile</a>
                    <input type="hidden" name="friendName" value="<%= r.username %>">
                    <button type="submit" class="btn">Add</button>
                </div>
            </form>
        <% }); } %>
        <br>

        <h2>Friends List</h2>

        <% if (friendslist.length < 1) { %>
            <p class="empty-msg">Add new friends!</p>
        <% } %>

        <% friendslist.forEach(f => { %>
            <div class="friend-card">
                <p class="friend-name"><%= f %></p> 

                <form action="/deletefriend" method="post">
                    <input type="hidden" name='friendName' value="<%= f %>"> 
                    <button type="submit" class="btn">delete</button>
                </form>
            </div>
        <% }); %>

        <br><br><br>

    </div>
</body>
</html>